#home{
  padding-top: 30px;

  .container{
    padding: 0;
  }

  a{
    padding-left: 20px;
    text-decoration: none;
    color: $color-main;
  }

  h3{
    font-size: 20px;
  }

  .active{
    background-color: #000;
  }

  :nth-child(4){
    padding-top: 50px;
  }
}

.row{
  @include flex(row, center, space-between);
}

.home{
  background-color: $color-light;
}

.inside-wrapper{
  @include flex(column, stretch, space-between);
  padding: 20px 20px 50px 20px;

  .center{
    position: relative;
    background-color: $color-main;
    height: 100px;
    width: 100%;
    text-align: center;

    h3{
      margin-bottom: 0;
      color: $color-light;
    }

    p{
      margin: 0;
    }
  }

  .option{
    position: relative;
    width: 49%;
    padding-bottom: 5px;
    height: 100px;

    &:hover{
      h3{
        top: 40%;
        transition: .5s;
      }

      p{
        opacity: 1;
        top: 60%;
        transition: .5s;
      }
    }

    h3{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      text-align: center;
      color: $color-light;
      transform: translate(-50%,-50%);
      margin: 0;
    }

    p{
      opacity: 0;
      top: 80%;
      font-size: 15px;
      position: absolute;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%,-50%);
    }
  }

  p{
    color: $color-light;
  }

  img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .item:nth-child(2){
    padding: 0 10px 10px 10px;
  }

  .item{
    height: 200px;
    padding-bottom: 10px;
    position: relative;

    &:hover{
      filter: brightness(70%);

      .icon{
        display: block;
      }
    }

    .icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;

      i{
        position: relative;
        color: $color-light;
        font-size: 20px;

        &:hover{
          color: $color-main;
        }
      }
    }
  }
}

#carousel-wrapper{
  .slide{
    padding: 20px;

    .image{
      width: 30%;
      height: 200px;
    }

    .description{
      width: 70%;
      height: 200px;
      padding-left: 20px;
    }
  }

  img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

